/* You can add global styles to this file, and also import other style files */
.ck-editor__editable {
  min-height: 300px !important;
}

.webpage-block {
  margin: 10px 15px 20px 15px;
}

.webpage-container {
  margin: 10px 0px 20px 0px;
}
